*
{
	padding: 0;
	margin: 0;
}

div
{
text-align:center;
}

canvas
{
	background: #eee;
	display: block;
	margin: 0 auto;
}

#startButton
{
	padding: 10px 30px;
	border: 0px;
	margin:4px;
	background-color: #5DBCD2;
	font-family: Roboto;
	border-radius: 5px;
	font-size: 15px;
	color: #FFF;
}

#startButton:active {
	background-color: #959595;
}
