*
{
	padding: 0;
	margin: 0;
}

body{
	background-color: lightblue;
}


div
{
	text-align:center;
}

canvas
{
	background: #000;
	display: block;
	margin: 0 auto;
}

#startButtonClassic
{
	padding: 10px 30px;
	border: 0px;
	margin:4px;
	background-color: #6B64FF;
	font-family: Roboto;
	border-radius: 20px;
	font-size: 18px;
	color: #FFF;
}

#startButtonClassic:active {
	background-color: #959595;
}

#startButtonArcade
{
	padding: 10px 30px;
	border: 0px;
	margin:4px;
	background-color: #FA5255;
	font-family: Roboto;
	border-radius: 20px;
	font-size: 18px;
	color: #FFF;
}

#startButtonArcade:active {
	background-color: #959595;
}
